<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/layout.css}" />
</head>

<body>
	<header class="header">
		<h1>University of Atlantide</h1>
	</header>
	<h2>Insert Course</h2>
	<form action="#" th:action="@{/courses/insertCourseFromForm}" th:object="${course}" method="post">

		<p>
			Course id: <input type="text" th:field="*{courseId}" />
			<span th:if="${#fields.hasErrors('courseId')}" th:errors="*{courseId}"></span>
		</p>

		<p>
			Name <input type="text" th:field="*{name}" />
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
		</p>

		<p>
			Address <input type="text" th:field="*{address}" />
			<span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
		</p>

		<p>
			Exams Number: <input type="number" th:field="*{examsNumber}" />
			<span th:if="${#fields.hasErrors('examsNumber')}" th:errors="*{examsNumber}"></span>
		</p>

		<p>
			<input type="submit" value="Submit" />
			<a href="/courses/showCourses">Back</a>
		</p>
</body>

</html>